<div class="signup-body">

  <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
  <br>
<p *ngIf="authService.user | async">UID:  {{ (authService.user | async)?.uid }}</p>
<br>

  <div *ngIf="!(authService.user | async)">
    <label for="email">Email</label>
  <input type="text" [(ngModel)]="email" id="email" placeholder="email">
  
    <br>
    <label for="password">Password</label>
  <input type="password" [(ngModel)]="password" id="password" placeholder="password">
  

    <br>
    <label for="firstName">First Name</label>
<input type="text" [(ngModel)]="firstName" id="firstName" placeholder="First Name">

    <br>
    <label for="lastName">Last Name</label>
<input type="text" [(ngModel)]="lastName" id="lastName" placeholder="Last Name">

    <br>
    <label for="phone">Phone Number</label>
<input type="text" [(ngModel)]="phone" id="phone" placeholder="Phone Number">

    <br><br>
    <button class="btn btn-default" (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>


  </div>


  <p style="color: red"> {{ message }} </p>

</div>